.animatable {
    opacity: 0;
}

.animated {
    animation-duration: 1s;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translate3d(-100px, 100px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0);
    }
}

@keyframes fade-left {
    0% {
        opacity: 0;
        transform: translate3d(100px, 100px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0);
    }
}

.animated.fade-right {
    animation-name: fade-right;
}

.animated.fade-left {
    animation-name: fade-left;
}

.animated.fade-up {
    animation-name: fade-up;
}